/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define MAGICSTURDY 1
#define META 2
#define SYM 3
#define NAVNUM 4
#define FUNC 5
#define GAMING 6
#define GAMINGNUM 7

#include "includes/mods.dtsi"

&sk {
    quick-release;
};

/ {
    keymap {
        compatible = "zmk,keymap";
        base_layer {
            label = "Neo";
            bindings = <
    &kp TAB             &kp X               &kp V               &kp L               &kp C               &kp W                                   &kp K               &kp H               &kp G               &kp F               &kp Q               &key_repeat
    &sl SYM             &kp U               &kp I               &kp A               &kp E               &kp O                                   &kp S               &kp N               &kp R               &kp T               &kp D               &sl SYM
    &sk LSHFT           &kp Y               &kp J               &mo META            &kp P               &kp Z                                   &kp B               &kp M               &mo META            &kp DOT             &kp COMMA           &sk RSHFT
                                                                                    &kp BKSP            &kp LCTRL                               &kp RCTRL           &kp SPC
            >;
        };

        magicsturdy_layer {
            label = "Sturdy";
            bindings = <
    &kp TAB             &kp V               &kp M               &kp L               &kp C               &kp P                                   &kp B               &magic_key          &kp U               &kp O               &kp Q               &key_repeat
    &sl SYM             &kp S               &kp T               &kp R               &kp D               &kp Y                                   &kp F               &kp N               &kp E               &kp A               &kp I               &sl SYM
    &sk LSHFT           &kp X               &kp K               &sl META            &kp G               &kp W                                   &kp Z               &kp H               &sl META            &kp DOT             &kp J               &sk RSHFT
                                                                                    &kp BKSP            &trans                                  &trans              &kp SPC
            >;
        };

        meta_layer {
            label = "Meta";
            bindings = <
    &to GAMING          &trans              &trans              &trans              &trans              &trans                                  &trans              &trans              &trans              &trans              &trans              &to GAMING
    &trans              &sk LGUI            &sk LALT            &kp RET             &sk LSHFT           &trans                                  &trans              &sk RSHFT           &kp ESC             &sk RALT            &sk RGUI            &trans
    &bootloader         &trans              &sl FUNC            &tog META           &sl NAVNUM          &trans                                  &trans              &sl NAVNUM          &tog META           &sl FUNC            &trans              &bootloader
                                                                                    &trans              &trans                                  &trans              &trans
	        >;
        };

        symbols_layer {
            label = "Sym";
            bindings = <
    &kp GRAVE           &kp HASH            &kp UNDER           &kp LBKT            &kp RBKT            &kp PIPE                                &kp EXCL            &kp LT              &kp GT              &kp EQUAL           &kp AMPS            &kp AT
    &trans              &kp BSLH            &kp FSLH            &kp LBRC            &kp RBRC            &kp ASTRK                               &kp QMARK           &kp LPAR            &kp RPAR            &kp MINUS           &kp COLON           &trans
    &trans              &kp RA(Y)           &kp DLLR            &kp RA(Q)           &kp TILDE           &kp RA(P)                               &kp PLUS            &kp PRCNT           &kp DQT             &kp SQT             &kp SEMI            &trans
                                                                                    &kp DEL             &trans                                  &trans              &trans
            >;
        };

        navnum_layer {
            label = "NavNum";
            bindings = <
    &kp ESC             &kp LC(X)           &kp LC(V)           &kp UP              &kp LC(C)           &kp PG_UP                               &kp KP_DIVIDE       &kp N7              &kp N8              &kp N9              &kp KP_MINUS        &kp COLON
    &trans              &kp C_AC_FORWARD    &kp LEFT            &kp DOWN            &kp RIGHT           &kp PG_DN                               &kp KP_MULTIPLY     &kp N4              &kp N5              &kp N6              &kp KP_PLUS         &kp RET
    &trans              &kp C_AC_BACK       &kp HOME            &tog NAVNUM         &kp END             &kp LC(Z)                               &kp SPC             &kp N1              &kp N2              &kp N3              &kp DOT             &trans
                                                                                    &kp BKSP            &trans                                  &trans              &kp N0
	        >;
        };

        functions_layer {
            label = "Fun";
            bindings = <
    &kp ESC             &kp LC(X)           &kp LC(V)           &kp UP              &kp LC(C)           &trans                                  &kp C_VOL_UP        &kp F9              &kp F10             &kp F11             &kp F12             &trans
    &kp LEFT            &kp LGUI            &kp LALT            &kp DOWN            &kp LSHFT           &kp RIGHT                               &kp C_VOL_DN        &kp F5              &kp F6              &kp F7              &kp F8              &trans
    &trans              &trans              &trans              &tog FUNC           &trans              &kp LC(Z)                               &kp C_MUTE          &kp F1              &kp F2              &kp F3              &kp F4              &trans
                                                                                    &trans              &trans                                  &trans              &kp SPC
            >;
        };

        gaming_layer {
            label = "Game";
            bindings = <
    &kp ESC             &kp TAB             &kp Q               &kp W               &kp E               &kp R                                   &kp T               &kp Z               &kp U               &kp I               &kp O               &kp P
    &mo GAMINGNUM       &kp LSHFT           &kp A               &kp S               &kp D               &kp F                                   &kp G               &kp H               &kp J               &kp K               &kp L               &kp COLON
    &kp LALT            &kp LSHFT           &kp Y               &kp X               &kp C               &kp V                                   &kp B               &kp N               &kp M               &kp COMMA           &kp DOT             &kp RGUI
                                                                                    &kp LCTRL           &kp SPC                                 &kp RET             &kp BKSP
            >;
        };

        gaming_number_layer {
            label = "GameNum";
            bindings = <
    &to BASE            &kp F9              &kp F10             &kp F11             &kp F12             &trans                                  &trans              &kp N7              &kp N8              &kp N9              &trans              &to BASE
    &to MAGICSTURDY     &kp F5              &kp F6              &kp F7              &kp F8              &trans                                  &trans              &kp N4              &kp N5              &kp N6              &trans              &to MAGICSTURDY
    &studio_unlock      &kp F1              &kp F2              &kp F3              &kp F4              &trans                                  &trans              &kp N1              &kp N2              &kp N3              &trans              &studio_unlock
                                                                                    &kp BKSP            &kp SPC                                 &kp RET             &kp N0
            >;
        };
	};
};
