if SHIELD_PROTOTYPE_LEFT

config ZMK_KEYBOARD_NAME
    default "Prototype"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PROTOTYPE_LEFT || SHIELD_PROTOTYPE_RIGHT

config ZMK_SPLIT
    default y

endif